@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Errored</title>
</head>
<body>
    <div>
        <br />
        <h2>Error in action!</h2>
        <br />
        <h4>Next error has occurred during the execution of your query:</h4>
        <h4 style="color:Red">@Model </h4>
        <br />
        <h4>Click on @Html.ActionLink("link for return", "~/CustomerOrdering/OrderList.cshtml") to the previous web page. <br /> In case of repeated occurrence of error, please contact our administrator.</h4>
        <br />
        <br />
        
    </div>
</body>
</html>
