body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1.5em 0 0 0;
    float: left;
    width: 120px;
    clear: both;
}

.add-item-button
{
    float:left;
}
.show-lines-list
{
    float:right;
}

.editor-label1 
{
    margin: 1.5em 0 0 0;
    float: left;
    width: 170px;
    clear: both;
}

.editor-field 
{
    margin:1.4em 0 0 0;
}

.display-text
{
    margin:1.4em 0 0 0;   
}

.radio-button-list-label
{
    margin: 1.5em 0 0 0;
    width: 120px;
}

.totals
{
    float: left;
    width: 40%;
}

.card
{
    width: 50%;
    float: right;
    padding-bottom: 3.8em;
}

.mandatory-message
{
    float: right;
    margin-right: 1.4em;
    color: Red;
}

.order-create-buttons
{
    float:right;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for WebGrid
-----------------------------------------------------------*/

.webgrid
{
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}


.webgrid a
{
    color: #000;
}


.webgrid-header
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-bottom: 2px solid #3966A2;
    height: 40px;
    border-top: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}


.webgrid-footer
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-top: 2px solid #3966A2;
    height: 30px;
    border-bottom: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}



.webgrid-alternating-row
{
    height: 30px;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d2d2d2;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}



.webgrid-row-style
{
    height: 30px;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}


.webgrid-selected-row
{
    font-weight: bold;
}

a.webridUserEdit
{
    background: url(../../Content/Images/edit-user.png) no-repeat center center;
    display: inline-block;
    width: 22px;
    height: 22px;
    text-indent: -9999px; /* hides the link text */
}
a.webridUserRemove
{
    background: url(../../Content/Images/remove-user.png) no-repeat center center;
    display: inline-block;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
}
a.webridUserDuplicate
{
     background: url(../../Content/Images/duplicate.png) no-repeat center center;
     display:inline-block;
     width: 22px;
     height: 22px;
     text-indent: -9999px; /* hides the link text */
}
