@model OrderSystem.Models.Users

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>@Html.ValidationMessage("Online","User is online!")
    <div class="display-label">Login:@Html.DisplayFor(model => model.Login)</div>
    <div class="display-label">UserFName:@Html.DisplayFor(model => model.UserFName)</div>
    <div class="display-label">UserLName:@Html.DisplayFor(model => model.UserLName)</div>
    <div class="display-label">Mail: @Html.DisplayFor(model => model.Mail)</div>
    <div class="display-label">Region:@Html.DisplayFor(model => model.Region)</div>
    <div class="display-label">Role:@Html.DisplayFor(model => model.Role)</div>
    <div class="display-label">Rank:@Html.DisplayFor(model => model.Rank)</div>
    <div class="display-label">Balance:@Html.DisplayFor(model => model.Balance)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
