@model OrderSystem.Models.OrderSystemUser
@{
    ViewBag.Title = "User List";
}
<p>This page is apained for creating new and managing existing users</p>
<h2>@Html.ActionLink("Create New User","CreateUser")</h2>
<p></p>
<p>Number of Found Users: @ViewData["CountOfUsers"].ToString()</p>
<fieldset>
<legend>Search by</legend>
<p>Field Filter</p>
<select name="User">
  <option>user Name</option>
  <option>User FirstName</option>
  <option>User LastName</option>
  <option>User Email</option>
  <option>User Region</option>
</select>

<select>
<option>Starts with</option>
<option>Ends with</option>
<option>Contains</option>
</select>

<input type=text />

<p></p>
<input type=submit value="Search" />
</fieldset>

<p></p>
@{
    //TODO Get Users List From Model And Render Grid
    WebGrid usersGrid = new WebGrid();
}